<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer:</strong>
    <%= customer.customer_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= customer.title %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= customer.password_digest %>
  </p>

</div>
