<div id="<%= dom_id order %>">
  <p>
    <strong>Order:</strong>
    <%= order.id %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Order subtotal:</strong>
    <%= order.order_subtotal %>
  </p>

  <p>
    <strong>Order tax rate:</strong>
    <%= order.order_tax_rate %>
  </p>

  <p>
    <strong>Order total:</strong>
    <%= order.order_total %>
  </p>

  <p>
    <strong>Order state:</strong>
    <%= order.order_state %>
  </p>

  <p>
    <strong>Order address:</strong>
    <%= order.order_address %>
  </p>

  <p>
    <strong>Order postal code:</strong>
    <%= order.order_postal_code %>
  </p>

  <p>
    <strong>Order province:</strong>
    <%= order.order_province %>
  </p>

  <p>
    <strong>Order tracking number:</strong>
    <%= order.order_tracking_number %>
  </p>

</div>
