<p style="color: green"><%= notice %></p>

<%= render @category %>



<div>
  <ul>
    <% @category.products.each do |product|%>
      <li>
        <%= render product %>
        <%= link_to "Show this product", product %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>
</div>
