<div id="<%= dom_id product %>">

  <div style="display:flex;justify-content:space-between;margin: 0em 5em">
    <strong>Name:</strong>
    <%= product.name %>
    <strong>Description:</strong>
    <%= product.description %>
    <strong>Price:</strong>
    <%= product.price %>
    <strong>Category:</strong>
    <%= product.category.name %>
  </div>



</div>
