<p style="color: green"><%= notice %></p>

<%= paginate @results%>
<%= page_entries_info @results %>
<%= render @product %>

<select>
  <% Character.all.each do |character|%>
  <option value=<%= character.id %>>
    <%= character.name.capitalize %>
  </option>
  <% end %>
</select>


<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
