<!DOCTYPE html>
<html>
  <head>
    <script src="https://js.stripe.com/v3/"></script>
    <title>PokePosh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "cart/cart" if @render_cart %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <ul>
      <%= link_to "Cart", @cart %>
      <%= link_to "Products", products_path %>
      <%= link_to "Categories", categories_path %>
    </ul>

    <%= form_tag("/products/search", :method => "get") do%>
      <%= text_field_tag :search, params[:search], placeholder: "Search Categories (Leave blank for all items in category)" %> -->
      <%= select_tag 'category', options_for_select(Category.all.map{|el| [el.name, el.id]}), :prompt => "All Categories" %>
      <%= submit_tag 'Search' %>
    <% end %>
    <%= yield %>
  </body>
</html>
